/* Modal */
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: url('../img/modal/bg-overlay50.png');
}
.modal {
  position: relative;
  z-index: 100;
  text-align: left;
  background: #fff;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 5px solid #f7f7f7;
  width: 480px;
  overflow: hidden;
}
.modal-close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 0;
  background: url('gfx/icon-close.png') no-repeat center center;
  text-indent: -9999px;
  overflow: hidden;
}
