/*
    Name: SPU - Sistema de Protocolo Único
    Date: Agosto 2010
    Description: Layout para o sistema homônimo
    Version: 0.1
    Author: Prefeitura Municipal de Fortaleza
    Autor URI: http://www.fortaleza.ce.gov.br
*/

/* Imports */
@import url("reset.css");
@import url("forms.css");

/* Float Fix */
#menu ul:after, ul.nav:after, #section:after, dl:after, #footer:after, ul.buttons:after, ul.tabs:after {content:".";clear:both;display:block;overflow:hidden;visibility:hidden;height:0}

/* Básico */
body {
    background-color: #EEE;
    color: #333333;
    font-family: sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 0.75em;
}

/* Cabeçalhos */
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3.5em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2.5em;margin-bottom:0.75em;}
h3 {font-size:2em;line-height:1;margin-bottom:1em; border-bottom: 3px solid #666; padding-bottom: 6px;}
h4 {font-size:1.7em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
    
/* Links */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
    color: #AA0000;
    padding: 0 1px;
    text-decoration: underline;
}
a:hover, a:active {
    background-color: #AA0000;
    color: #fff;
    text-decoration: none;
}

/* Forms */
dl {margin-bottom: 2%;}
dt, dd {
	float: left;
	margin: 0.5em 0;
}
dt {
    width: 12em;
    clear: both;
    text-align: right;
    padding-top: 0.75em;
	margin-right: 1em;
}

label {font-weight: normal;}
input {
    padding: 0;
    font-family: sans-serif;
	padding: 3px 0;
	text-indent: 3px;
	font-size: 1em;
	background-image: url(../img/bgStriped.jpg);
}
dd {float: left;}
label.required {font-weight: bold;}

/* Botões */
ul.buttons {
    border-top: 1px solid #DDD;
    padding: 1%;
    margin: 1% 0;
    background: #FAFAFA;
}
ul.buttons li {
    float: left;
    margin-right: 12px;
    line-height: 24px;
}
button {
    font-family: sans-serif;
    padding: 0.5em 2em;
    font-size: 1em;
}
ul.buttons.grid {margin-bottom: 0;}
/* Tabelas */
table.grid {
	width: 100%;
	margin-top: 1%;
	border-collapse:collapse;
}
table.grid tr th {
	background: #777;
    border: 1px solid #666;
	color: white;
	font-weight: bold;
}
table.grid tr td, table tr th {padding: 6px;}
table.grid tr td {border: 1px solid #DDD;}
table.grid tr.odd {background: #F5F5F5;}
table.grid tbody a {margin-right: 12px;}
table.grid tr.tableFilter th * {margin: 0; border: 0;}
table.grid tfoot tr td {border: 0;}
table.grid tr.marked {background: #E6B800;}
table.grid .colunaFixa input {
	margin: 0 auto;
	display: block;
}

/* Botão Pesquisar */
button.pesquisar {display: none}

/* Páragrafos */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {background: #C74350; color: #fff;}
::selection {background: #C74350; color: #fff;}

/* Estrutura */
#section, #footer {padding: 1%;}

/* Cabecalho */
#header {
	position: relative;
    background: url(../img/degradeBordo.jpg) repeat-x #cb0101;
    padding: 1%;
    border-bottom: 1px solid #990100;
}

#header h1 {
	font-size: 2.5em;
	position: relative;
    text-shadow: 1px 1px 1px #333;
    height: 1.6em;
    background: url(../img/logoFortaleza.png) no-repeat 0 50%;
    padding-left: 52px;
    margin-bottom: 0;
}
#header h1 a {
    text-decoration: none;
    color: white;
    font-size: 0.75em;
    line-height: 36px;
    font-weight: bold;
}
#header h1 a:hover {
    background: none;
    text-shadow: 1px 1px 1px #000;
    text-decoration: underline;
}
#header h1 span {
    position: absolute;
    font-size: 0.4em;
    font-weight: normal;
    clear: both;
    bottom: 0;
    color: white;
    display: block;
}
#usuario {
    position: absolute;
    top: 12px;
    right: 12px;
    line-height: 1.75em;
    color: white;
}
#usuario a {color: white;}

/* Menu */
#menu ul {
    background: url(../img/bg_amarelo.png) repeat 0% 50% #E6B800;
    list-style: none;
    /*float: left;*/
    /*margin-bottom:3.5em;*/
    max-width:100%;
    position:relative;
    /*width:50em;*/
    padding: 0 1%;
    border-bottom: 1px solid #c19900;
    border-top: 1px solid #e6ce74;    
}
#menu ul li {
    cursor: pointer;
    float: left;
    list-style-type: none;
    position: relative;
    padding: 0 12px;
}
#menu ul li a {
    color: #6C3600;
    cursor: default;
    display: block;
    float: left;
    height: 2em;
    line-height: 2em;
    padding: 0 0.4em;
    text-decoration: none;
    text-shadow: -1px 1px 0 #FFCD00;    
}
#menu ul li a:hover {
    background: none;
    text-decoration: none;
    text-shadow: -1px 1px 0 #ffde57;
}
#menu ul li:hover {background: #FFCC66;}

/* Submenu */
#menu ul li ul {
    cursor: default;
    display: none;
    height: auto;
    position: absolute;
    left: 0;
    border-top: 1px solid #c19900;
}
#menu ul li ul li {
    padding: 0 12px;
    clear: left;
    background-color: #edc417;
    width: 12em;
    border-right: 1px solid #c19900;
}
#menu ul li ul li a {
    cursor: pointer !important;
    font-weight: normal;
    position: relative !important;
    white-space: nowrap;
    width: 100%;
    text-shadow: -1px 1px 0 #ffde57;    
}

#menu ul li ul a:hover, #menu ul li ul a:focus, #menu ul li ul a:active {
	text-shadow: -1px 1px 0 #ffde57;    
}
#menu ul li:hover ul, #menu ul li.msieFix ul {
    display:block;
    top:2em !important;
    z-index:10;
}
#menu ul li ul li:hover {background-color: #FFCC66;}

/* Conteúdo */
#section {
    background: url(../img/degrade.jpg) repeat-x 0% 0% white;
    padding: 2%;
    position: relative;
}
#section h2 {
    margin-bottom: 6px;
}
ul.nav {
    background: #F5F4EF;
    border-top: 1px solid #AAA;
    margin-bottom: 2%;
}
ul.nav li {
    padding: 0.5% 1%;
    float: left;
    margin-right: 1%;
}
ul.nav li.voltar, ul.nav li.imprimir {float: right;}

/* Abas */
ul.tabs {
    list-style-type: none;
}
ul.tabs li {
    display: block;
    float: left;
    line-height: 32px;
    background: #E5E4DF;
    padding: 0 1.25em;
    margin: 0 1em;
    position: relative;
    bottom: -1px;
    border-color: #BBB;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    z-index: 0;
}
ul.tabs li.active {
    background: #F5F4EF !important;
	border-bottom-color: #F5F4FF;
}
ul.tabs li.active a {
    text-decoration: none;
    color: black;
}
ul.tabs li.active a:hover {background: none;}

/* Mensagem */
div#message {margin: 2% 2% 0}

/* Sidebar */
#article {
    display: block;
    z-index: 1;
}
#aside {
    width: 23%;
    float: left;
    right: 0;
    margin-right: 2%;
    background: #F5F4EF;
    padding: 2%;
}
#article h3 {
    background: #F5F4EF;
    padding: 6px 12px;
    border-top: 1px solid #CCC;
    border-bottom: none;
    margin-bottom: 2%;
}
#section.withSidebar #article {
	width: 71%;
    float: left;
}

/* Footer */
#footer {
	background: url(../img/bgRodape.gif) repeat-x 0% 0%;
	font-size: 1em;
}
#footer p {
    float: right;
    margin-bottom: 0;
}
#footer address {
    float: left;
    margin-right: 12px;
}
#footer ul, #footer ul li {float: left;}
#footer ul li {margin: 0 12px;}